html{
  height:100%;
  width:100%;
}

body {
  height:100%;
  width:100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  height:100%;
  width:100%;
}

.app-page {
  height:100%;
  width:100%;
}

.dashboard-background {
  height: 100%;
  width: 100%;
  background-color: #a5c715;
}
