form{
  text-align: center;
}

input{
  border : solid;
  border-radius: 3px;
  border-width : 2px;
  border-color: #f26c4f;
  padding : 5px;
}

.text-SignIn{
  margin : 5px;
  color : #f26c4f;
}

a{
  font-weight: bold;
  color : #f26c4f;
}