.menu {
  height : 40px;
  line-height: 40px;
  position : fixed;
  right : 0;
  text-transform: uppercase;
  font-weight: bold;
}

.menu a {
  text-decoration: none;
  color : white;
  margin-right: 40px;
  margin-left: 40px;
}
