.menu {
  height : 40px;
  line-height: 40px;
  position : fixed;
  right : 0;
}

.menu a {
  text-decoration: none;
  color : white;
  margin-right: 50px;
  margin-left: 50px;
}

.menu p {
  color: #f26c4f;
  text-transform: uppercase;
  font-weight: bold;
}
