.menu {
  height : 40px;
  text-align: right;
  padding-right: 40px;
  line-height: 40px;
  white-space: nowrap;
}

.menu a {
  text-decoration: none;
  margin-left: 50px;
  color : white;
}

.menu p {
  color: #f26c4f;
  text-transform: uppercase;
  font-weight: bold;
}