.sign-up {
  width: 250px;
  margin-left: calc(50% - 125px);
  padding: 10px;
  border-style:solid;
  border-bottom-width: 22px;
  border-color: #f26c4f;
  border-radius:  5px;
  background-color:#f6f6f6;
}

.ninja-img {
  max-height: 400px;
}

.text-sign-up {
  margin : 10px 0;
  text-align: center;
  color : #f26c4f;
}

.text-sign-up a {
  margin: inherit;
  font-weight: bold;
  color: #f26c4f;
}

.sign-up button {
  padding: 10px 30px;
  border-style:solid;
  border-color: #f26c4f;
  border-radius:  5px;
  background-color:#f6f6f6;
  color: #f26c4f;
  font-weight: bold;
}

.sign-up input {
  width: 90%;
  margin: 10px 0;
  padding: 5px;
  border-style:solid;
  border-color: #f26c4f;
  border-radius:  5px;
}

.sign-up button {
  margin: auto;
}

::-webkit-input-placeholder {
  opacity: 0.4;
  color: #3e3e3e;
}
::-moz-placeholder {
  opacity: 0.4;
  color: #3e3e3e;
}
:-ms-input-placeholder {
  opacity: 0.4;
  color: #3e3e3e;
}
:-moz-placeholder {
  opacity: 0.4;
  color: #3e3e3e;
}