h2 {
    color: #f26c4f;
    margin:0px;
    margin-left:20px;
}

.dashboard-content-block {
    padding: 10px;
    border-style:solid;
    border-bottom-width: 22px;
    border-color: #f26c4f;
    border-radius: 5px;
    background-color:#f6f6f6;
}
